<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="raspkateConfiguration" type="Raspkate.Config.RaspkateConfiguration, Raspkate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <raspkateConfiguration xmlns="urn:Raspkate.Config" prefix="http://127.0.0.1:9023/">
    <handlers>
      <handler type="Raspkate.Handlers.FileHandler, Raspkate">
        <properties>
          <property name="DefaultPages" value="raspkate.html;index.htm;index.html"/>
          <property name="BasePath" value="web"/>
          <property name="IsRelativePath" value="true"/>
        </properties>
      </handler>
      <handler type="Raspkate.Handlers.ControllerHandler, Raspkate">
        <properties>
          <property name="Controllers" value="Raspkate.Controllers.DefaultRaspkateController,Raspkate; Raspkate.RaspberryPi.RaspberryController,Raspkate.RaspberryPi"/>
        </properties>
      </handler>
    </handlers>
  </raspkateConfiguration>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{DATE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/raspkate.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <!--<appender-ref ref="FileAppender" />-->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
