.red {
    color: red;
}

.black {
    color: black;
}

.cyan {
    color: cyan;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.deeppink {
    color: deeppink;
}
